* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
}
.vkladks {
    display: grid;
    position: absolute;
    width: 100%;
    height: 3rem;
    grid-template-columns: auto auto auto;
}
.invest {
    background: #0000000f;
    font-size: 1.2rem;
    text-align: center;
}
main {
    display: block;
    width: 100%;
    height: 100%;
}

.inner.shet {
    background: url('./bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
}
.inner.shet .left, .inner.shet .right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inner.shet .cmdtxt {
    display: block;
    text-align: center;
    margin: 3rem 0 -4rem 0;
    color: #fff;
    font-size: 3rem;
    width: 100%;
}
.inner.shet .left .name, .inner.shet .right .name {
    display: block;
    text-align: center;
    margin: 1rem 0;
    color: #fff;
    font-size: 3.5rem;
    width: 100%;
    height: 4rem;
 }
.inner.shet .left .counter, .inner.shet .right .counter {
    display: block;
    text-align: center;
    margin: auto 0;
    color: #fff;
    font-size: 16rem;
}

.inner {
    display: none;
    width: 100%;
    height: 100%;
}
.inner.active {
    display: unset;
}
.inner.active.shet {
    display: grid;
}