* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: #838383;
    height: 1px;
    margin: auto;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

body {
    background: #1a1a1a;
    color: #fff;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v61/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    /* line-height: 1; */
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
}

.textdisplay {
    margin: 5rem auto;
    display: block;
    text-align: center;
    font-size: 3.5rem;
    word-wrap: normal;
    background: transparent;
    color: white;
}

.selectors {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0 3rem;
}

.selectors .selector {
    display: inline-flex;
    background: #2b2b2b;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.8rem;
    width: 12rem;
    height: 8rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.selectors .selector .icon {
    text-align: center;
}
.selectors .selector .icon .material-symbols-outlined {
    font-size: 3rem;
}
.selectors .selector .name {
    text-align: center;
    font-size: 1.5rem;
}

/* DECORATION */

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.selectors .selector#rotate_XY .icon .material-symbols-outlined {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.selector#rotate_Z {
    perspective: 500px;
  }
.selector#rotate_Z .icon {
    text-align: center;
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
}
@keyframes depth {
    0% { text-shadow: 0 0 #fff; }
    25% { text-shadow: 1px 0 #fff, 2px 0 #fff, 3px 0 #fff, 4px 0 #fff, 5px 0 #fff; }
    50% { text-shadow: 0 0 #fff; }
    75% { text-shadow: -1px 0 #fff, -2px 0 #fff, -3px 0 #fff, -4px 0 #fff, -5px 0 #fff; }
    100% { text-shadow: 0 0 #fff; }
}

.selector#blink .icon {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }